[Unit]
Description=daphne service to run django_baseproject
After=network.target
After=postgresql.service
After=nginx.service

[Service]
Type=simple
RuntimeDirectory=daphne
PIDFile=/run/daphne/pid
User=root
Group=root
WorkingDirectory=/root/django_baseproject
ExecStart=/usr/bin/daphne -u /tmp/daphne.sock django_baseproject.asgi:channel_layer
ExecStop=/bin/kill -s TERM $MAINPID
[Install]
WantedBy=multi-user.target
